image:
  name: node:latest
  entrypoint:
    - /usr/bin/env

cache:
  key: ${CI_COMMIT_REF_SLUG}
  paths:
    - .npm
    - android
    - /android
    - /root/.gradle
    # or with Yarn:
    #- .yarn

stages:
  - build 
  - test

before_script:
  - apt update
  - apt install -y openjdk-17-jdk curl unzip
  - export JAVA_HOME=/usr/lib/jvm/java-17-openjdk-amd64
  - export ANDROID_HOME=/android/sdk
  - export PATH=$PATH:$ANDROID_HOME/cmdline-tools/latest/bin:$ANDROID_HOME/platform-tools
  - npm ci --cache .npm
  - mkdir -p /android/sdk
  - curl https://dl.google.com/android/repository/commandlinetools-linux-13114758_latest.zip -o cmdtools.zip
  - unzip cmdtools.zip
  - echo "y" | ./cmdline-tools/bin/sdkmanager --sdk_root=/android/sdk --install "platforms;android-30"
  - echo "y" | ./cmdline-tools/bin/sdkmanager --sdk_root=/android/sdk --install "build-tools;30.0.3"

# UNIT TESTS (Jest)
unit-tests:
  stage: test
  # Override before_script so tests DON'T do all the Android setup
  before_script:
    - npm ci --cache .npm
  script:
    - npm test -- --ci --runInBand

eas-build:
  stage: build
  artifacts:
    paths:
      - android/app/build/outputs/apk/release/app-release.apk
  script:
    - npx expo prebuild
    - cd android
    - ANDROID_HOME=/android/sdk ./gradlew assembleRelease

eas-build-ios:
  stage: build
  script:
    - npm install -g eas-cli
    - npm ci
    # Build and get the download URL
    - export DOWNLOAD_URL=$(eas build --platform ios --profile preview --non-interactive --json | jq -r '.[0].artifacts.buildUrl // .artifacts.buildUrl')
    - echo "$DOWNLOAD_URL" > ios_build_url.txt
  artifacts:
    paths:
      - ios_build_url.txt

# E2E TESTS (Maestro)
maestro-android:
  stage: test
  needs: ["eas-build"]
  script:
    - curl -Ls "https://get.maestro.mobile.dev" | bash
    - export PATH="$PATH":"$HOME/.maestro/bin"
    - maestro cloud --apiKey rb_44RFkFLeklUHTcZFP930JKIRSxXvjHYiLumlBXAt7ww71VXxviY7XWiNdSeYpIJQwpCl8FzVMt0zZvZr14La5hI3rHsS0MVUTRe --project-id proj_01kcvjjbhtext9sp6g71tqnccy android/app/build/outputs/apk/release/app-release.apk .maestro/

maestro-ios:
  stage: test
  needs: ["eas-build-ios"]
  script:
    - export DOWNLOAD_URL=$(cat ios_build_url.txt)
    # Check if URL is empty to avoid the "Missing required parameter" error
    - |
      if [ -z "$DOWNLOAD_URL" ] || [ "$DOWNLOAD_URL" == "null" ]; then
        echo "Error: Download URL is empty. Check the build-ios job logs."
        exit 1
      fi
    - curl -Ls "https://get.maestro.mobile.dev" | bash
    - export PATH="$PATH":"$HOME/.maestro/bin"
    - maestro cloud --apiKey rb_44RFkFLeklUHTcZFP930JKIRSxXvjHYiLumlBXAt7ww71VXxviY7XWiNdSeYpIJQwpCl8FzVMt0zZvZr14La5hI3rHsS0MVUTRe --project-id proj_01kcvjjbhtext9sp6g71tqnccy $DOWNLOAD_URL .maestro/