image:
  name: node:latest
  entrypoint:
    - /usr/bin/env

cache:
  key: ${CI_COMMIT_REF_SLUG}
  paths:
    - .npm
    - android
    - /android
    - /root/.gradle
    # or with Yarn:
    #- .yarn

stages:
  - build 
  - test

variables:
  MAESTRO_CLOUD_API_KEY: $MAESTRO_CLOUD_API_KEY

# 1. BUILD STAGE: Generate the artifacts first
build-android:
  stage: build
  script:
    - npm install -g eas-cli
    - npx expo install expo-dev-client --npm
    - eas build --platform android --profile development --non-interactive --local --output=app.apk
  artifacts:
    paths:
      - app.apk
    expire_in: 1 hour

build-ios:
  stage: build
  tags: [macos] # EAS local build for iOS requires a Mac runner
  script:
    - npm install -g eas-cli
    - eas build --platform ios --profile development --non-interactive --local --output=app.tar.gz
    - tar -xzf app.tar.gz # Maestro needs the .app folder inside
  artifacts:
    paths:
      - "*.app"
    expire_in: 1 hour

before_script:
  - apt update
  - apt install -y openjdk-17-jdk curl unzip
  - export JAVA_HOME=/usr/lib/jvm/java-17-openjdk-amd64
  - export ANDROID_HOME=/android/sdk
  - export PATH=$PATH:$ANDROID_HOME/cmdline-tools/latest/bin:$ANDROID_HOME/platform-tools
  - npm ci --cache .npm
  - mkdir -p /android/sdk
  - curl https://dl.google.com/android/repository/commandlinetools-linux-13114758_latest.zip -o cmdtools.zip
  - unzip cmdtools.zip
  - echo "y" | ./cmdline-tools/bin/sdkmanager --sdk_root=/android/sdk --install "platforms;android-30"
  - echo "y" | ./cmdline-tools/bin/sdkmanager --sdk_root=/android/sdk --install "build-tools;30.0.3"

# UNIT TESTS (Jest)
unit-tests:
  stage: test
  # Override before_script so tests DON'T do all the Android setup
  before_script:
    - npm ci --cache .npm
  script:
    - npm test -- --ci --runInBand

eas-build:
  stage: build
  artifacts:
    paths:
      - android/app/build/outputs/apk/release/app-release.apk
  script:
    - npx expo prebuild
    - cd android
    - ANDROID_HOME=/android/sdk ./gradlew assembleRelease

# E2E TESTS (Maestro)
maestro-android:
  stage: test
  needs: ["build-android"]
  script:
    - curl -Ls "https://get.maestro.mobile.dev" | bash
    - export PATH="$PATH:$HOME/.maestro/bin"
    - maestro cloud --apiKey $MAESTRO_CLOUD_API_KEY --project-id proj_01kcvjjbhtext9sp6g71tqnccy android/app/build/outputs/apk/release/app-release.apk .maestro/uc-1-tests/
    - maestro cloud --apiKey $MAESTRO_CLOUD_API_KEY --project-id proj_01kcvjjbhtext9sp6g71tqnccy android/app/build/outputs/apk/release/app-release.apk .maestro/uc-2-tests/
    - maestro cloud --apiKey $MAESTRO_CLOUD_API_KEY --project-id proj_01kcvjjbhtext9sp6g71tqnccy android/app/build/outputs/apk/release/app-release.apk .maestro/uc-4-tests/
    - maestro cloud --apiKey $MAESTRO_CLOUD_API_KEY --project-id proj_01kcvjjbhtext9sp6g71tqnccy android/app/build/outputs/apk/release/app-release.apk .maestro/uc-5-tests/
    - maestro cloud --apiKey $MAESTRO_CLOUD_API_KEY --project-id proj_01kcvjjbhtext9sp6g71tqnccy android/app/build/outputs/apk/release/app-release.apk .maestro/uc-6-tests/
    - maestro cloud --apiKey $MAESTRO_CLOUD_API_KEY --project-id proj_01kcvjjbhtext9sp6g71tqnccy android/app/build/outputs/apk/release/app-release.apk .maestro/uc-7-tests/


maestro-ios:
  stage: test
  needs: ["build-ios"]
  parallel:
    matrix:
      - TEST_SUITE: ["uc-1-tests", "uc-2-tests", "uc-4-tests", "uc-5-tests", "uc-6-tests", "uc-7-tests"]
  script:
    - curl -Ls "https://get.maestro.mobile.dev" | bash
    - export PATH="$PATH:$HOME/.maestro/bin"
    # Zip the .app folder specifically for this parallel run
    - zip -r MyApp.zip *.app
    - >
      maestro cloud 
      --apiKey $MAESTRO_CLOUD_API_KEY 
      MyApp.zip 
      .maestro/${TEST_SUITE}/